<%= @video.error? %>

<% if @video.ready? %>
  <% content_for :head do %>
    <meta name="description" content="GIF +++ YouTube Mashup!" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Check out this clip!" />
    <meta name="twitter:site" content="@imploderxyz" />
    <meta name="twitter:image" content="<%= @video.clip(:twitter).url %>" />
  <% end %>
<% end %>

<% if !@video.ready? && !@video.error? %>
  <div id="video-fetcher" data-video-id=<%= @video.id %>>
    <p>Making your video. Hold tight!</p>
    <%= image_tag 'spinner.gif', class: 'spinner' %>
  </div>
<% end %>

<% if @video.ready? %>
  <video id="video-player" autoplay loop controls>
    <source src="<%= @video.clip_url %>" type="video/mp4">
  </video>
  <ul id="video-links">
    <li><%= link_to 'Download', @video.download_url %></li>
    <li><%= link_to 'Tweet', "https://twitter.com/intent/tweet?text=#{URI.encode('love it')}&url=#{video_url(@video)}", class: 'tweet-link', target: 'blank' %></li>
  </ul>
<% end %>

<% if @video.error? %>
  <p>Drat, sorry, something went wrong when making your video.</p>
<% end %>