<!DOCTYPE html>
<html>
  <head>
    <title>✨🔥 -= GIF IMPLODER =- 🔥✨</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="container">
      <header>
        <h1>
          <%= link_to "gif imploder", root_path %>
        </h1>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
        <ul>
          <li>
            built by <a href="http://twitter.com/waltz">@waltz</a>
          </li>
          <li>
            see the <a href="https://github.com/waltz/exportgifsound.com">the source</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
